html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.logo {
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
  align-self: flex-end;
  width: 14rem;
  margin-left: 1rem;
}

img {
  width: 100%;
  display: grid;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "banner banner"
  "box1 box2";
  gap: 1rem;
  background-color: #f2f1ed;
  margin: 0;
}

li {
  list-style-type: none;
  font-size: 2rem;
  gap: 1rem;
}

a {
  color: #fff;
  font-family: "Patua One", sans-serif;
}

main {
  display: contents;
}

h2 {
  font-family: "Patua One", sans-serif;
  color: #30658d;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

figure {
  margin: 1rem;
}

figure:nth-child(1) {
  margin-right: .5rem;
  grid-area: box1;
}

figure:nth-child(2) {
  margin-left: .5rem;
  grid-area: box2;
}

figure:nth-of-type(1) {
  grid-area: box1;
}
figure:nth-of-type(2) {
  grid-area: box2;
}

.pano {
  display: grid;
  padding: 1rem;
  grid-area: banner;
}

nav {
  grid-column: 2 / -1;
  grid-row: 1;
}

ul {
  display: flex;
  grid-template-areas: "1 2 3";
  list-style-type: none;
  color: #fff;
  gap: 1rem;
}

nav ul {
  display: flex;
  justify-content: end;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
}
